@tailwind base;
@tailwind components;
@tailwind utilities;

/* 修改主题色 */
:root:root {
  --adm-color-primary: #0FB269;
  /* --adm-color-danger:  */
  --adm-font-size-10: 16px;
  --adm-color-border: #efefef;
}

:root:root .adm-selector-item-active{
  background-color: #E6FFEE;
  border: 0.5px solid #0FB269;
}

.adm-modal-footer{
    border-top: 0.5px solid #E8E8E8;
}

/* 修改 selector 选择样式 */
:root:root .adm-selector-item .adm-selector-check-mark-wrapper{
  top: 0px;
  border-top: solid 10px var(--adm-color-primary);
  border-bottom: solid 10px transparent;
  border-left: solid 10px transparent;
  border-right: solid 10px var(--adm-color-primary);
}

/* 修改 selector 选择样式 */
:root:root .adm-selector-item .adm-selector-check-mark-wrapper > svg{
  top: -7px;
}

/* selector 背景色 */
:root:root .adm-selector {
  --color: #f8f8f8;
}